/* Estilos Gerais */
body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}
.menu-contato{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: darkgrey;
}
.menu, ul{
    flex-direction: row;
    display: flex;
    gap: 40px;
    justify-content: center;
    border: 1px solid;
    border-radius: 5px;
    background-color: grey;
}
 h1{

}
 p{
    
 }
 .conteudo-principal{
    display: flex  ;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}